.drawer {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;

    // ul>li {
    //     font-size: 1.5rem;
    //     color: red;
    //     text-align: center;

    // }

    // ul>li:hover {
    //     font-weight: bold;
    //     font-size: 3rem;
    // }

    // ul>li:active {
    //     font-weight: bold;
    //     font-size: 3rem;
    //     color: blue;
    // }

    // ul>li.active {
    //     font-weight: bold;
    //     font-size: 3rem;
    //     color: blue;
    // }

    div>a:hover::after {
        content: "<";
    }

    div>a:hover::before {
        content: ">";
    }
}

.drawer>.bottom-right {
    bottom: 0;
    left: 0;
}

.drawer.top-right {
    top: 0;
    right: 0;

}